<ng-container *ngIf="{
  table: table$ | async,
  currentItem: currentItem$ | async
} as params">
  <ul class="table-of-contents">
    @for (item of params.table; track item.fragment) {
      <li class="table-of-contents__item">
        <a
          class="table-of-contents__link"
          [routerLink]="[]"
          [fragment]="item.fragment"
          [class.table-of-contents__link_active]="params.currentItem === item.fragment"
          [attr.data-level]="item.level"
          (click)="scrollTo(item)"
        >{{ item.title }}</a>
      </li>
    }
  </ul>
</ng-container>

