<ul class="menu__list">
  <li
    class="menu__item"
    *ngFor="let menuItem of menu; trackBy: submenuTrackBy"
  >
    <ng-container *ngIf="displayingSubmenuSet$ | async as displayingSubmenuSet">
      <ng-container *ngIf="menuItem.link">
        <a class="menu__link" [class.menu__link_active]="displayingSubmenuSet.has(menuItem.id)" [href]="'/' + menuItem.link">
          <div class="menu__link-dot"></div>
          <span>
          {{ menuItem.name }}</span>
      </a>
      </ng-container>

      <ng-container *ngIf="!menuItem.link">
        <button
        class="menu__submenu-toggle"
        [class.menu__submenu-toggle_open]="displayingSubmenuSet.has(menuItem.id)"
        (click)="toggleBlockDisplay(menuItem.id)"
        >
          <sc-icon icon="caret-down" [rotate180]="displayingSubmenuSet.has(menuItem.id)"></sc-icon>
          {{ menuItem.name }}
        </button>
        <app-menu
          class="menu__submenu"
          [class.menu__submenu_open]="displayingSubmenuSet.has(menuItem.id)"
          [menu]="menuItem.items"
        ></app-menu>
      </ng-container>

    </ng-container>
  </li>
</ul>
