<ul class="menu__list">
  @for (menuItem of menu(); track menuItem.id) {
  <li class="menu__item">
    @if (displayingSubmenuSet()) {
      @if (menuItem.link) {
        <a class="menu__link" [ngClass]="['menu__link--level-' + level()]" [href]="'/' + menuItem.link">
          <div class="menu__link-dot-wrapper">
            <div class="menu__link-dot" [class.menu__link-dot--active]="displayingSubmenuSet().has(menuItem.id)" ></div>
          </div>
          <span>
          {{ menuItem.name }}</span>
        </a>
      } @else {
        <button
        class="menu__submenu-toggle"
        [ngClass]="['menu__submenu-toggle--level-' + level()]"
        [class.menu__submenu-toggle_open]="displayingSubmenuSet().has(menuItem.id)"
        (click)="toggleBlockDisplay(menuItem.id)"
        >
          <sc-icon icon="caret-down" [rotate180]="displayingSubmenuSet().has(menuItem.id)"></sc-icon>
          {{ menuItem.name }}
        </button>
        <app-menu
          class="menu__submenu"
          [class.menu__submenu_open]="displayingSubmenuSet().has(menuItem.id)"
          [menu]="menuItem.items"
          [level]="nextLevel()"
        ></app-menu>
      }
    }
  </li>
  }
</ul>