.menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &:first-of-type {
      margin-top: 0;
    }
  }

  &__link,
  &__submenu-toggle {
    color: var(--sc-sys-color-on-primary);
    text-align: left;
    font-family: "ONY One Beta", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
  }

  &__link {
    padding-left: 2.75rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link-dot {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    background: var(--sc-sys-color-on-primary);
    border-radius: 4px;

    &--active {
      background: var(--sc-sys-color-primary-on-surface);;
    }
  }

  &__submenu-toggle {
    position: relative;

    display: block;
    width: 100%;

    sc-icon {
      transition-duration: 300ms;
      transform: rotate(270deg);
    }
    sc-icon.rotate-180 {
      transform: rotate(360deg) !important;
    }
  }

  &__submenu {
    display: none;

    &_open {
      display: block;
    }
  }
}
