:host {
  display: block;
  margin-top: auto;
  height: var(--footer-height);

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 24px 40px;
    background-color: var(--sc-sys-color-on-secondary);

    &__menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      gap: 32px;

      &-item {
        color: var(--sc-sys-color-on-primary);
        font-family: "ONY_One_Beta", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    &__copyright {
      color: var(--sc-sys-color-on-surface-variant);
      font-size: 12px;
      font-family: "ONY_One_Beta", sans-serif;
    }
  }
}
