<header class="header">
  <sc-input class="header__search" autocomplete="off" [label]="'Label'" [debounce]="true" [prefixSeparatorHidden]="true"
    [suffixSeparatorHidden]="true" noShowError>
    <sc-decorator-prefix>
      <sc-icon icon="search"></sc-icon>
    </sc-decorator-prefix>
  </sc-input>

  <div class="header__navigation">
    <a href="#" class="header__navigation-element">
      Как начать
    </a>
    <a href="#" class="header__navigation-element">
      Статьи
    </a>
    <a href="#" class="header__navigation-element">
      Вопросы
    </a>
    <a href="#" class="header__navigation-element">
      Поддержка
    </a>
  </div>

  <div class="header__actions">
    <sc-checkbox switch [formControl]="themeControl">
      Темная тема
    </sc-checkbox>

    <app-language-form-control [formControl]="languageControl" noShowError></app-language-form-control>
  </div>
</header>