:host {
  display: flex;
}

.documentation__menu {
  position: sticky;
  top: 4.5rem;
  overflow: auto;
  padding-top: 1.5rem;
  width: 18.75rem;
  flex-shrink: 0;
  height: 100vh;
  color: var(--sc-sys-color-on-primary);
}

.documentation__title {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.documentation__content {
  padding: 0 5rem;
  background: var(--sc-sys-color-surface-container);
}
