@import './scss/variables';
@import './scss/code';

html {
  font-family: Inter, sans-serif;
  color: $contentPrimary;
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 0.875rem;
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}
