@import "./variables";
@import "./code";
@import "../../ui-kit/styles/sc-foundation.scss";
@import "../assets/fonts/index";

html {
  font-family:
    ONY One Beta,
    monospace;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 0.875rem;
  color: var(--sc-sys-color-on-surface);
  background-color: var(--sc-sys-color-surface);
  height: 100%;

  --header-height: 72px;
  --footer-height: 72px;
}

* {
  font-family:
    ONY One Beta,
    monospace;
  box-sizing: border-box;
}
