@import './variables';
@import './code';
@import './sc.sys.colors';
@import "../assets/fonts/index";

html {
  font-family: ONY One Beta, monospace;
  color: $contentPrimary;
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 0.875rem;
}

* {
  font-family: ONY One Beta, monospace;
  box-sizing: border-box;
}
