@mixin sc-text($fontSize, $lineHeight, $fontWeight) {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

// Guides - Header 1
@mixin sc-heading-1 {
  @include sc-text(2.5rem, 3rem, 500);
}

// Guides - Header 2
@mixin sc-heading-2 {
  @include sc-text(2rem, 2.5rem, 500);
}

// Guides - Header 3
@mixin sc-heading-3 {
  @include sc-text(1.5rem, 2rem, 400);
}

@mixin sc-heading-4 {
  @include sc-text(0.875rem, 1.125rem, 400);
}

@mixin sc-heading-5 {
  @include sc-text-regular-bold;
}

@mixin sc-heading-6 {
  @include sc-text-small-bold;
}

// Guides - Body L
@mixin sc-text-large {
  @include sc-text(1rem, 1.5rem, 400);
}

// Guides - Body M
@mixin sc-text-regular {
  @include sc-text(0.875rem, 1.125rem, 300);
}

// Guides - Body M Bold
@mixin sc-text-regular-bold {
  @include sc-text(0.875rem, 1.125rem, 500);
}

// Guides - Body M
@mixin sc-text-small {
  @include sc-text(0.75rem, 1rem, 400);
}

// Guides - Body M bold
@mixin sc-text-small-bold {
  @include sc-text(0.75rem, 1rem, 500);
}

@mixin sc-text-code {
  @include sc-text(0.875rem, 1.25rem, 400);
}

@mixin form-text {
  display: block;
  margin-top: 0.25rem;
  @include sc-text-mini;
  color: var(--sc-sys-color-on-surface-variant);
}

@mixin sc-scrollbar {
  $handle_color: color-mix(in srgb, var(--sc-sys-color-on-surface-variant) 50%, transparent);

  scrollbar-color: $handle_color transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: $handle_color;
  }
}
