:root {
  // light theme
  --sc-theme-light-color-primary: #fe6e36;
  --sc-theme-light-color-primary-on-surface: #fe6e36;
  --sc-theme-light-color-on-primary: #ffffff;
  --sc-theme-light-color-secondary: #2b323a;
  --sc-theme-light-color-on-secondary: #ffffff;
  --sc-theme-light-color-basic: #e0e4e9;
  --sc-theme-light-color-on-basic: #2b323a;
  --sc-theme-light-color-surface: #F4F4F4;
  --sc-theme-light-color-surface-container: #ffffff;
  --sc-theme-light-color-surface-container-highest: #E8E8E8;
  --sc-theme-light-color-on-surface: #2b323a;
  --sc-theme-light-color-on-surface-variant: #9ba3ab;
  --sc-theme-light-color-outline: #1B1E23;
  --sc-theme-light-color-outline-variant: #CCCCCC;
  --sc-theme-light-color-info: #5A96CE;
  --sc-theme-light-color-on-info: #ffffff;
  --sc-theme-light-color-info-container: #DEEAF5;
  --sc-theme-light-color-on-info-container: #5A96CE;
  --sc-theme-light-color-warning: #FE9B54;
  --sc-theme-light-color-on-warning: #ffffff;
  --sc-theme-light-color-warning-container: #FFEBDD;
  --sc-theme-light-color-on-warning-container: #FE9B54;
  --sc-theme-light-color-error: #FF4949;
  --sc-theme-light-color-on-error: #ffffff;
  --sc-theme-light-color-error-container: #FFDFDF;
  --sc-theme-light-color-on-error-container: #FF4949;
  --sc-theme-light-color-success: #90B751;
  --sc-theme-light-color-on-success: #ffffff;
  --sc-theme-light-color-success-container: #E9F1DC;
  --sc-theme-light-color-on-success-container: #90B751;
  --sc-theme-light-color-wait: #D8BC27;
  --sc-theme-light-color-on-wait: #ffffff;
  --sc-theme-light-color-wait-container: #F7F2D4;
  --sc-theme-light-color-on-wait-container: #D8BC27;
  --sc-theme-light-color-chart-01-01: #FE6E36;
  --sc-theme-light-color-chart-01-02: #6C7989;
  --sc-theme-light-color-chart-01-03: #DBD4D1;
  --sc-theme-light-color-chart-01-04: #934758;
  --sc-theme-light-color-chart-01-05: #C5AD8C;
  --sc-theme-light-color-chart-02-01: #EE66E0;
  --sc-theme-light-color-chart-02-02: #56C3B0;
  --sc-theme-light-color-chart-02-03: #7A73A0;
  --sc-theme-light-color-chart-02-04: #B8ACF2;
  --sc-theme-light-color-chart-02-05: #887878;

  // dark theme
  --sc-theme-dark-color-primary: #fe6e36;
  --sc-theme-dark-color-primary-on-surface: #fe6e36;
  --sc-theme-dark-color-on-primary: #ffffff;
  --sc-theme-dark-color-secondary: #ffffff;
  --sc-theme-dark-color-on-secondary: #2b323a;
  --sc-theme-dark-color-basic: #505a66;
  --sc-theme-dark-color-on-basic: #ffffff;
  --sc-theme-dark-color-surface: #1B1E23;
  --sc-theme-dark-color-surface-container: #2B323A;
  --sc-theme-dark-color-surface-container-highest: #3A414A;
  --sc-theme-dark-color-on-surface: #ffffff;
  --sc-theme-dark-color-on-surface-variant: #9BA3AB;
  --sc-theme-dark-color-outline: #FFFFFF;
  --sc-theme-dark-color-outline-variant: #505A66;
  --sc-theme-dark-color-info: #5A96CE;
  --sc-theme-dark-color-on-info: #ffffff;
  --sc-theme-dark-color-info-container: #DEEAF5;
  --sc-theme-dark-color-on-info-container: #5A96CE;
  --sc-theme-dark-color-warning: #FE9B54;
  --sc-theme-dark-color-on-warning: #ffffff;
  --sc-theme-dark-color-warning-container: #FFEBDD;
  --sc-theme-dark-color-on-warning-container: #FE9B54;
  --sc-theme-dark-color-error: #FF4949;
  --sc-theme-dark-color-on-error: #ffffff;
  --sc-theme-dark-color-error-container: #FFDFDF;
  --sc-theme-dark-color-on-error-container: #FF4949;
  --sc-theme-dark-color-success: #90B751;
  --sc-theme-dark-color-on-success: #ffffff;
  --sc-theme-dark-color-success-container: #E9F1DC;
  --sc-theme-dark-color-on-success-container: #90B751;
  --sc-theme-dark-color-wait: #D8BC27;
  --sc-theme-dark-color-on-wait: #ffffff;
  --sc-theme-dark-color-wait-container: #F7F2D4;
  --sc-theme-dark-color-on-wait-container: #D8BC27;
  --sc-theme-dark-color-chart-01-01: #FE6E36;
  --sc-theme-dark-color-chart-01-02: #6C7989;
  --sc-theme-dark-color-chart-01-03: #DBD4D1;
  --sc-theme-dark-color-chart-01-04: #934758;
  --sc-theme-dark-color-chart-01-05: #C5AD8C;
  --sc-theme-dark-color-chart-02-01: #EE66E0;
  --sc-theme-dark-color-chart-02-02: #56C3B0;
  --sc-theme-dark-color-chart-02-03: #7A73A0;
  --sc-theme-dark-color-chart-02-04: #B8ACF2;
  --sc-theme-dark-color-chart-02-05: #887878;

  // common constants
  --sc-sys-state-hover-state-layer-opacity: 8%;
  --sc-sys-state-disabled-state-text-opacity: 38%;
  --sc-sys-state-disabled-state-layer-opacity: 12%;
}

.light-theme, body:not(.dark-theme) {
  --sc-sys-color-primary: var(--sc-theme-light-color-primary);
  --sc-sys-color-primary-on-surface: var(--sc-theme-light-color-primary-on-surface);
  --sc-sys-color-on-primary: var(--sc-theme-light-color-on-primary);
  --sc-sys-color-secondary: var(--sc-theme-light-color-secondary);
  --sc-sys-color-on-secondary: var(--sc-theme-light-color-on-secondary);
  --sc-sys-color-basic: var(--sc-theme-light-color-basic);
  --sc-sys-color-on-basic: var(--sc-theme-light-color-on-basic);
  --sc-sys-color-surface: var(--sc-theme-light-color-surface);
  --sc-sys-color-surface-container: var(--sc-theme-light-color-surface-container);
  --sc-sys-color-surface-container-highest: var(--sc-theme-light-color-surface-container-highest);
  --sc-sys-color-on-surface: var(--sc-theme-light-color-on-surface);
  --sc-sys-color-on-surface-variant: var(--sc-theme-light-color-on-surface-variant);
  --sc-sys-color-outline: var(--sc-theme-light-color-outline);
  --sc-sys-color-outline-variant: var(--sc-theme-light-color-outline-variant);
  --sc-sys-color-info: var(--sc-theme-light-color-info);
  --sc-sys-color-on-info: var(--sc-theme-light-color-on-info);
  --sc-sys-color-info-container: var(--sc-theme-light-color-info-container);
  --sc-sys-color-on-info-container: var(--sc-theme-light-color-on-info-container);
  --sc-sys-color-warning: var(--sc-theme-light-color-warning);
  --sc-sys-color-on-warning: var(--sc-theme-light-color-on-warning);
  --sc-sys-color-warning-container: var(--sc-theme-light-color-warning-container);
  --sc-sys-color-on-warning-container: var(--sc-theme-light-color-on-warning-container);
  --sc-sys-color-error: var(--sc-theme-light-color-error);
  --sc-sys-color-on-error: var(--sc-theme-light-color-on-error);
  --sc-sys-color-error-container: var(--sc-theme-light-color-error-container);
  --sc-sys-color-on-error-container: var(--sc-theme-light-color-on-error-container);
  --sc-sys-color-success: var(--sc-theme-light-color-success);
  --sc-sys-color-on-success: var(--sc-theme-light-color-on-success);
  --sc-sys-color-success-container: var(--sc-theme-light-color-success-container);
  --sc-sys-color-on-success-container: var(--sc-theme-light-color-on-success-container);
  --sc-sys-color-wait: var(--sc-theme-light-color-wait);
  --sc-sys-color-on-wait: var(--sc-theme-light-color-on-wait);
  --sc-sys-color-wait-container: var(--sc-theme-light-color-wait-container);
  --sc-sys-color-on-wait-container: var(--sc-theme-light-color-on-wait-container);
  --sc-sys-color-chart-01-01: var(--sc-theme-light-color-chart-01-01);
  --sc-sys-color-chart-01-02: var(--sc-theme-light-color-chart-01-02);
  --sc-sys-color-chart-01-03: var(--sc-theme-light-color-chart-01-03);
  --sc-sys-color-chart-01-04: var(--sc-theme-light-color-chart-01-04);
  --sc-sys-color-chart-01-05: var(--sc-theme-light-color-chart-01-05);
  --sc-sys-color-chart-02-01: var(--sc-theme-light-color-chart-02-01);
  --sc-sys-color-chart-02-02: var(--sc-theme-light-color-chart-02-02);
  --sc-sys-color-chart-02-03: var(--sc-theme-light-color-chart-02-03);
  --sc-sys-color-chart-02-04: var(--sc-theme-light-color-chart-02-04);
  --sc-sys-color-chart-02-05: var(--sc-theme-light-color-chart-02-05);
}

.dark-theme {
  --sc-sys-color-primary: var(--sc-theme-dark-color-primary);
  --sc-sys-color-primary-on-surface: var(--sc-theme-dark-color-primary-on-surface);
  --sc-sys-color-on-primary: var(--sc-theme-dark-color-on-primary);
  --sc-sys-color-secondary: var(--sc-theme-dark-color-secondary);
  --sc-sys-color-on-secondary: var(--sc-theme-dark-color-on-secondary);
  --sc-sys-color-basic: var(--sc-theme-dark-color-basic);
  --sc-sys-color-on-basic: var(--sc-theme-dark-color-on-basic);
  --sc-sys-color-surface: var(--sc-theme-dark-color-surface);
  --sc-sys-color-surface-container: var(--sc-theme-dark-color-surface-container);
  --sc-sys-color-surface-container-highest: var(--sc-theme-dark-color-surface-container-highest);
  --sc-sys-color-on-surface: var(--sc-theme-dark-color-on-surface);
  --sc-sys-color-on-surface-variant: var(--sc-theme-dark-color-on-surface-variant);
  --sc-sys-color-outline: var(--sc-theme-dark-color-outline);
  --sc-sys-color-outline-variant: var(--sc-theme-dark-color-outline-variant);
  --sc-sys-color-info: var(--sc-theme-dark-color-info);
  --sc-sys-color-on-info: var(--sc-theme-dark-color-on-info);
  --sc-sys-color-info-container: var(--sc-theme-dark-color-info-container);
  --sc-sys-color-on-info-container: var(--sc-theme-dark-color-on-info-container);
  --sc-sys-color-warning: var(--sc-theme-dark-color-warning);
  --sc-sys-color-on-warning: var(--sc-theme-dark-color-on-warning);
  --sc-sys-color-warning-container: var(--sc-theme-dark-color-warning-container);
  --sc-sys-color-on-warning-container: var(--sc-theme-dark-color-on-warning-container);
  --sc-sys-color-error: var(--sc-theme-dark-color-error);
  --sc-sys-color-on-error: var(--sc-theme-dark-color-on-error);
  --sc-sys-color-error-container: var(--sc-theme-dark-color-error-container);
  --sc-sys-color-on-error-container: var(--sc-theme-dark-color-on-error-container);
  --sc-sys-color-success: var(--sc-theme-dark-color-success);
  --sc-sys-color-on-success: var(--sc-theme-dark-color-on-success);
  --sc-sys-color-success-container: var(--sc-theme-dark-color-success-container);
  --sc-sys-color-on-success-container: var(--sc-theme-dark-color-on-success-container);
  --sc-sys-color-wait: var(--sc-theme-dark-color-wait);
  --sc-sys-color-on-wait: var(--sc-theme-dark-color-on-wait);
  --sc-sys-color-wait-container: var(--sc-theme-dark-color-wait-container);
  --sc-sys-color-on-wait-container: var(--sc-theme-dark-color-on-wait-container);
  --sc-sys-color-chart-01-01: var(--sc-theme-dark-color-chart-01-01);
  --sc-sys-color-chart-01-02: var(--sc-theme-dark-color-chart-01-02);
  --sc-sys-color-chart-01-03: var(--sc-theme-dark-color-chart-01-03);
  --sc-sys-color-chart-01-04: var(--sc-theme-dark-color-chart-01-04);
  --sc-sys-color-chart-01-05: var(--sc-theme-dark-color-chart-01-05);
  --sc-sys-color-chart-02-01: var(--sc-theme-dark-color-chart-02-01);
  --sc-sys-color-chart-02-02: var(--sc-theme-dark-color-chart-02-02);
  --sc-sys-color-chart-02-03: var(--sc-theme-dark-color-chart-02-03);
  --sc-sys-color-chart-02-04: var(--sc-theme-dark-color-chart-02-04);
  --sc-sys-color-chart-02-05: var(--sc-theme-dark-color-chart-02-05);
}

.dark-theme, .light-theme {
  color: var(--sc-sys-color-on-surface);
  --sc-sys-color-disabled: color-mix(in srgb, var(--sc-sys-color-on-surface) var(--sc-sys-state-disabled-state-layer-opacity), transparent);
  --sc-sys-color-on-disabled: color-mix(in srgb, var(--sc-sys-color-on-surface) var(--sc-sys-state-disabled-state-text-opacity), transparent);
}
