:host {
  width: 100%;
  display: flex;
  align-items: start;
  padding: 1rem;
  margin-bottom: 1rem;

  line-height: 1.5;
  font-size: 0.875rem;
  text-align: left;
  font-family: monospace;
  unicode-bidi: isolate;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  background: var(--sc-sys-color-surface-container-highest);

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  border-radius: 0.25em;
}

.markdown-code__code {
  width: 22rem;
  flex-grow: 1;
  overflow: auto;
}

.markdown-code__button {
  padding: .25rem;
  margin-left: 1rem;

  color: var(--sc-sys-color-on-surface);
  background: var(--sc-sys-color-basic);
  border: none;
  border-radius: .25rem;

  font-weight: 700;
}
