@import "styles/mixins";

:host {
  position: relative;
  width: 100%;
  overflow: scroll;
  display: flex;
  align-items: start;
  margin-bottom: 1rem;

  line-height: 1.5;
  font-size: 0.875rem;
  text-align: left;
  font-family: Roboto Mono, monospace;
  unicode-bidi: isolate;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  background: var(--sc-sys-color-surface-container-highest);

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  border-radius: 0.25em;

  @include sc-text-code;

}

.markdown-code__code {
  width: 22rem;
  padding: 1rem;
  max-height: 24rem;
  flex-grow: 1;
  overflow: auto;

  font-family: Roboto Mono, monospace;
  color: var(--sc-sys-color-on-surface);
}

.markdown-code__button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: linear-gradient(90deg, transparent 0%, var(--sc-sys-color-surface-container-highest) 100%);

  max-height: 26rem;
}

.markdown-code__button {
  padding: 0.25rem;
  margin-left: 1rem;

  color: var(--sc-sys-color-on-surface);
  background: var(--sc-sys-color-basic);
  border: none;
  border-radius: .25rem;

  font-weight: 700;
}
