@import 'styles/variables';
@import 'styles/mixins';

ul,
ol {
  margin: 0;
  padding-left: 1.5rem;

  li {
    font-size: 1rem;
    line-height: 1.5rem;

    &:has(> input) {
      list-style-type: none;
    }

    ul,
    ol {
      padding-left: 1.5rem;

      li {
        ul,
        ol {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

ul {
  list-style-type: disc;
  margin-bottom: 1rem;
}

ul ul {
  list-style-type: disc;
  margin-bottom: 0;
}

ul ol {
  margin-bottom: 0;
}

ul ul ul {
  list-style-type: disc;
}

ol {
  margin-bottom: 1rem;
}

ol ol {
  margin-bottom: 0;
}

ol ul {
  margin-bottom: 0;
}

h1 {
  @include sc-heading-1;
  margin: 2rem 0 0.5rem 0;
}

h2 {
  @include sc-heading-2;
  margin: 2rem 0 0.5rem 0;
}

h3 {
  @include sc-heading-3;
  margin: 2rem 0 0.5rem 0;
}

h4 {
  @include sc-heading-4;
  margin: 2rem 0 0.5rem 0;
}

h5 {
  @include sc-heading-5;
  margin: 2rem 0 0.5rem 0;
}

h6 {
  @include sc-heading-6;
  margin: 2rem 0 0.5rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  overflow-x: auto;

  @media (max-width: 800px) {
    max-width: 78rem;
  }

  tr {
    border-radius: 3px;

    th {
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--sc-sys-color-on-surface);
      padding: 0.5rem;
      background: $sidebarPurple;
      border: 1px solid $borderNormal;
    }

    td {
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--sc-sys-color-on-surface);
      padding: 0.5rem;
      border: 1px solid $borderNormal;

      ul,
      ol {
        li {
          list-style-position: inside;
        }
      }
    }
  }
}
